<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="antbot_lidar_attach"
               params="
                 link:=lidar_link
                 topic:=/scan
                 frame_id:=lidar_link
                 update_rate:=10
                 visualize:=true
                 samples:=360
                 resolution:=1
                 min_angle:=-3.14159
                 max_angle:=3.14159
                 vertical_samples:=1
                 vertical_resolution:=1
                 vertical_min_angle:=0
                 vertical_max_angle:=0
                 range_min:=0.15
                 range_max:=5.0
                 noise_stddev:=0.003">

    <gazebo reference="${link}">
      <sensor name="${link}" type="gpu_lidar">
        <pose>0 0 0 0 0 0</pose>
        <always_on>true</always_on>
        <visualize>${visualize}</visualize>
        <update_rate>${update_rate}</update_rate>

        <topic>${topic}</topic>
        <!-- กำหนด header.frame_id ให้ /scan -->
        <gz_frame_id>${frame_id}</gz_frame_id>

        <ray>
          <scan>
            <horizontal>
              <samples>${samples}</samples>
              <resolution>${resolution}</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
            <vertical>
              <samples>${vertical_samples}</samples>
              <resolution>${vertical_resolution}</resolution>
              <min_angle>${vertical_min_angle}</min_angle>
              <max_angle>${vertical_max_angle}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${range_min}</min>
            <max>${range_max}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>${noise_stddev}</stddev>
          </noise>
        </ray>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
