build/
install/
log/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
CTestConfiguration.ini
colcon_command_prefix_build.sh
*.xml.stamp
*.json
.vscode/
*.swp
.DS_Store
# เพิ่มไฟล์กราฟ/รูปที่ gen ออกมาไม่ต้องเข้ากิต
frames_*.gv
frames_*.pdf
