<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="antbot_ultrasonic" params="
      parent:='base_link'
      frame:='ultrasonic_link'
      topic:='/ultrasonic'
      min_range:=0.25
      max_range:=4.00
      update_rate:=10
      visualize:=true
      min_angle:=-0.12
      max_angle:=0.12
      xyz_offset:='0 0 0'
      rpy_offset:='0 0 0'
      joint_xyz_offset:='0 0 0'
      joint_rpy_offset:='0 0 0'
      h_samples:=5
      v_samples:=5
      v_min:=-0.01
      v_max:=0.01">

    <link name="${frame}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
      </inertial>

      <collision>
        <origin xyz="${xyz_offset}" rpy="${rpy_offset}"/>
        <geometry><cylinder radius="0.02" length="0.04"/></geometry>
      </collision>
      <visual name="ultra_body">
        <origin xyz="${xyz_offset}" rpy="${rpy_offset}"/>
        <geometry><cylinder radius="0.02" length="0.04"/></geometry>
        <material name="ultra_gray"><color rgba="0.45 0.45 0.45 1.0"/></material>
      </visual>
    </link>

    <joint name="${frame}_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${frame}"/>
      <origin xyz="${joint_xyz_offset}" rpy="${joint_rpy_offset}"/>
    </joint>

    <gazebo reference="${frame}">
      <sensor name="${frame}_sensor" type="gpu_lidar">
        <pose>0 0 0 0 0 0</pose>
        <always_on>true</always_on>
        <visualize>${visualize}</visualize>
        <update_rate>${update_rate}</update_rate>

        <topic>${topic}</topic>

        <!-- ให้ header.frame_id = ชื่อ link จริง -->
        <ignition_frame_id>${frame}</ignition_frame_id>

        <ray>
          <scan>
            <horizontal>
              <samples>${h_samples}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
            <vertical>
              <samples>${v_samples}</samples>
              <resolution>1</resolution>
              <min_angle>${v_min}</min_angle>
              <max_angle>${v_max}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
      </sensor>

      <material>
        <ambient>0.45 0.45 0.45 1</ambient>
        <diffuse>0.45 0.45 0.45 1</diffuse>
        <specular>0.1 0.1 0.1 1</specular>
        <emissive>0 0 0 1</emissive>
      </material>
    </gazebo>

  </xacro:macro>
</robot>
